body{
    background-color: rgb(34,41,55);  
}
.linkStyle{
color:white;
width:350px;
box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
background-color: rgb(34,41,55);
height:500px;
margin:auto;
margin-top:4%;
    
}
.heading{
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-size:18px;
}
.btn_start{
 
    background-color: white;
    color:deepskyblue;
    margin: auto;
    border-radius: 60%;
    border:none;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    width:70px;
    height:70px;
    margin-top: 16%;
}
.time_stamp{
    /* border:1px solid white; */
    margin:auto;
    padding:30px;
    height:50px;
    width:60%;
    margin-top: 25%;
    font-size: 35pt;
}
.FontAwesomeIcon{
    font-size: 23px;
}
#stop_btn{
    margin-left: 50px;
}
.footer_tag{
    color:lightgray;
    float: right;
    padding-right: 30px;
}

